<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><%= link_to image_tag("sake-title.png"), root_path %></h1>
</header>

<main>

<section>

<h2>日本酒の原料</h2>

<div class="c2">

<div class="text text-r">
<p>日本酒の原料は、大きく分けて米、水、麹（こうじ）、そして酵母です。</p>
<p>米（こめ）：<br>
日本酒の主原料として使われる米は、特別な品種が用いられます。これらの米は通常、でんぷん質が多く含まれ、醸造プロセスで酵母によってアルコールに変換されやすい特性を持っています。<br></p>

<p>水（みず）：
日本酒は水の割合が非常に高いため、水の品質は非常に重要です。良質な水は、日本酒の味や風味に大きな影響を与えます。<br></p>
<p>麹（こうじ）：麹は、米や米麹に含まれるでんぷんを糖化させ、アミノ酸を生成する重要な役割を果たします。これによって、後の発酵プロセスで酵母がアルコールを生産する際の基質が供給されます。<br></P>

<p>酵母（こうじ）：酵母は、糖化された米の中の糖をアルコールに変える役割を果たします。さまざまな酵母株が使用され、それぞれが特有の風味や香りを生み出します。
</p>
</div>
<!--/.text-->

<div class="image image-l">
<figure><%= image_tag ("1.jpg") %></figure>
</div>
<!--/.image-->

</div>

</section>


<section>

<h2>特定名称</h2>

<div class="c2">

<div class="text text-l">
<p>「特定名称」は、日本の酒税法に基づいて定められた、日本酒の製造方法や原料などに基づいて区分される酒の名称のことです。これらの名称は、酒造組合や日本酒製造業者によって定められ、法律によって保護されています。種類は以下のものがあります。</p>
<p>純米酒:

米、米麹、水のみを原料として製造される日本酒。
醸造アルコールを添加しない。
精米歩合に応じて純米酒、特別純米酒などに分類されます。<br>
本醸造酒 :

米、米麹、水に一定量の醸造アルコールを加えて製造される日本酒。
醸造アルコールの添加により、味わいが軽快でスムーズになります。<br>
吟醸酒 :

高精白米を使用し、低温で長期間発酵させることで造られる高級な日本酒。
華やかな香りと繊細な味わいが特徴です。<br>
大吟醸酒 :

吟醸酒の中でも特に高い品質を持つ日本酒。
精米歩合が非常に低く、高度な技術と手間がかかる。
香り高く、繊細な味わいが楽しめます。</p>
</div>
<!--/.text-->

<div class="image image-r">
<figure><%= image_tag ("34.jpg") %></figure>
</div>
<!--/.image-->

</div>

</section>

<section>

<h2>日本酒度</h2>

<div class="c2">

<div class="text text-r">
<p>日本酒度（にほんしゅど）は、日本酒の甘さや辛さを表す指標の一つです。一般的には、「日本酒度」と「酸度」の2つの値が表示され、これらのバランスが日本酒の味わいを決定します。</p>
<p>日本酒度の概要<br>
日本酒度は、日本酒の甘さや辛さを示す指標で、度数（％）で表されます。正確には、水に対するアルコールの比率を示します。<br>
日本酒度がプラスの場合、酒は乾燥していて辛口になります。<br>
日本酒度がマイナスの場合、酒は甘口になります。
</p>
<p>プラスの日本酒度:<br>
+10程度以上: 辛口からやや辛口。<br>
+5から+10: 辛口。<br>
0から+5: 中口から辛口。<br>
マイナスの日本酒度:<br>
-3から0: 中口から甘口。<br>
-5から-3: 甘口。<br>
-10から-5: とろりとした甘口。<br>
-10程度以下: 甘口。</p>
</div>
<!--/.text-->

<div class="image image-l">
<figure><%= image_tag ("1.jpg") %></figure>
</div>
<!--/.image-->

</div>

</section>

</main>


</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<h2>Contents</h2>
<ul class="submenu">
<li><%= link_to 'ホーム', root_path ,data: { turbo: false }%></li>
<li><%= link_to '日本酒について', abouts_path ,data: { turbo: false }%></li>
<li><%= link_to '日本酒を探す', items_path ,data: { turbo: false }%></li>
  <% if user_signed_in? %>
<li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "user-nickname",data: { turbo: false }%></li>
<li><%= button_to 'ログアウト', destroy_user_session_path ,method: :delete ,data: { turbo: false }, class: "logout" %></li>
  <% else %>
<li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" ,data: { turbo: false }%></li>
<li><%= link_to 'ログイン', new_user_session_path, class: "login" ,data: { turbo: false }%></li>
  <% end %>
</ul>
</nav>

<ul class="icons">
<li><i class="bi bi-facebook"></i></li>
<li><i class="bi bi-twitter"></i></li>
<li><i class="bi bi-youtube"></i></li>
<li><i class="bi bi-instagram"></i></li>
</ul>

</div>
<!--/#menubar-->

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="bi bi-arrow-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>
</html>
