<div class='item-contents'>
  <ul class='item-lists'>
      <li class='list'>
        <%= link_to item_path(item) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <div class='item-name'>
              <%= item.name %>
            </div>
            <span class='item-name_kana'>
              <%= item.name_kana %>
            </span>
            <span>|</span>
            <span class='item-name_kana'>
              <%= item.prefecture %>
            </span>
            <div class='item-price'>
              <span><%= item.price %>円 </span>
              <div class='star-btn'>
                <%#= image_tag "star.png", class:"star-icon" %>
                <%#<span class='star-count'>0</span>%>
              </div>
            </div>
          </div>
        <% end %>
      </li>
  </ul>
</div>