<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Sake-Seeker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
</head>

<body class="home ja">

<div id="container">

<header>

<h1 id="logo"><%= link_to image_tag ("sake.jpg") %></h1>

<nav>
<ul>
<li><a>日本酒について</a></li>
<li><a>日本酒を探す</a></li>
  <% if user_signed_in? %>
<li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "user-nickname"%></li>
<li><%= link_to 'ログアウト', destroy_user_session_path , data: { turbo_method: :delete }, class: "logout" %></li>
  <% else %>
<li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" %></li>
<li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <% end %>
</ul>
</nav>

<!--スライドショー-->

  <%= image_tag '1.jpg', class: "slide1" %>

  <%= image_tag '24.jpg', class: "slide2" %>

  <%= image_tag '34.jpg', class: "slide3" %>
</header>


<main>

<section class="blur">

<div class="title-bg">
<h2><div class="tate">お知らせ</div><div class="yoko">News</div></h2>
</div>

<div class="new">

<dl>
<dt>2023.07.14</dt>
<dd>tp_yado6配布開始。</dd>
<dt>2023.00.00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>2023.00.00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>2023.00.00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
</dl>

<div class="r">
<p class="animation-btn">
<a href="#" class="animation-btn-inner">もっとみる<i class="bi bi-arrow-right"></i></a>
</p>
</div>

</div>
<!--/.new-->

</section>

<section class="blur">


<!--/.list-slide-->

</section>

<section class="blur">

<h2>テンプレートのご利用前に必ずお読み下さい<span>Read me</span></h2>

<h3 class="c">利用規約のご案内</h3>
<p>このテンプレートは、<a href="https://template-party.com/">Template Party</a>にて無料配布している『旅館・料亭向け 無料ホームページテンプレート tp_yado6』です。必ずダウンロード先のサイトの<a href="https://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>
<p><strong class="color-check">HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong><br>
わざと見えなく加工する事も禁止です。</p>
<p><strong class="color-check">下部の著作を外したい場合は</strong><br>
<a href="https://template-party.com/">Template-Party</a>の<a href="https://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。</p>

<h3 class="c">当テンプレートの詳しい使い方は</h3>
<div class="c">
<p class="animation-btn">
<a href="about.html" class="animation-btn-inner">こちらをご覧下さい</a>
</p>
</div>

</section>

</main>



</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<h2>Contents</h2>
<ul class="submenu">
<li><a href="index.html">ホーム</a></li>
<li><a href="greeting.html">日本酒について</a></li>
<li><a href="room.html">日本酒を探す</a></li>
  <% if user_signed_in? %>
<li><%= link_to 'マイページ', "#", class: "user-nickname"%></li>
<li><%= link_to 'ログアウト', destroy_user_session_path , data: { turbo_method: :delete }, class: "logout" %></li>
  <% else %>
<li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" %></li>
<li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <% end %>
</ul>
</nav>

<ul class="icons">
<li><a href=""><i class="bi bi-facebook"></i></a></li>
<li><a href=""><i class="bi bi-twitter"></i></a></li>
<li><a href=""><i class="bi bi-youtube"></i></a></li>
<li><a href=""><i class="bi bi-instagram"></i></a></li>
</ul>

</div>
<!--/#menubar-->

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="bi bi-arrow-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="js/jquery.inview_set.js"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/slick.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

</body>
</html>
