<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Sake-Seeker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">

</head>

<body>

<div id="container">



<main>

  <div class="sort_sake">
    <h2 class="sake">日本酒</h2>
  </div>

  <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "日本酒を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" ,data: { turbo: false }%>
  <% end %>


  <div class="contents row">
    <div class='item-contents'>
      <ul class='item-lists'>
            <% @items.each do |item| %>
      <%= render partial: "items/item", locals: { item: item } %>
             <% end %>
      </ul>
    </div>

  </div>


</main>

<footer>


</footer>

</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<h2>Contents</h2>
<ul class="submenu">
<li><%= link_to 'ホーム', root_path ,data: { turbo: false }%></li>
<li><%= link_to '日本酒について', abouts_path ,data: { turbo: false }%></li>
<li><%= link_to '日本酒を探す', items_path ,data: { turbo: false }%></li>
  <% if user_signed_in? %>
<li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "user-nickname",data: { turbo: false }%></li>
<li><%= button_to 'ログアウト', destroy_user_session_path ,method: :delete ,data: { turbo: false }, class: "logout" %></li>
  <% else %>
<li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" ,data: { turbo: false }%></li>
<li><%= link_to 'ログイン', new_user_session_path, class: "login" ,data: { turbo: false }%></li>
  <% end %>
</ul>
</nav>

<ul class="icons">
<li><i class="bi bi-facebook"></i></li>
<li><i class="bi bi-twitter"></i></li>
<li><i class="bi bi-youtube"></i></li>
<li><i class="bi bi-instagram"></i></li>
</ul>

</div>
<!--/#menubar-->

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="bi bi-arrow-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>
</html>