<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Sake-Seeker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">

</head>

<body>

<div id="container">



<main>

  <div class="sort_sake">
    <h2 class="sake">日本酒</h2>
    <div class="sort-content">
      <select name="soto" class="sort-name">
        <option value="newest">新着順</option>
        <option value="ruby">名前順</option>
        <option value="area">地域順</option>
      </select>
    </div>
  </div>

  <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "日本酒を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
  <% end %>


  <div class="contents row">
    <div class='item-contents'>
      <ul class='item-lists'>
            <% @items.each do |item| %>
      <%= render partial: "items/item", locals: { item: item } %>
             <% end %>
      </ul>
    </div>

  </div>


</main>

<footer>


</footer>

</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<h2>Contents</h2>
<ul class="submenu">
<li><%= link_to 'ホーム', root_path %></li>
<li><%= link_to '日本酒について', abouts_path %></li>
<li><%= link_to '日本酒を探す', items_path %></li>
  <% if user_signed_in? %>
<li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "user-nickname"%></li>
<li><%= link_to 'ログアウト', destroy_user_session_path , data: { turbo_method: :delete }, class: "logout" %></li>
  <% else %>
<li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" %></li>
<li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <% end %>
</ul>
</nav>

<ul class="icons">
<li><a href=""><i class="bi bi-facebook"></i></a></li>
<li><a href=""><i class="bi bi-twitter"></i></a></li>
<li><a href=""><i class="bi bi-youtube"></i></a></li>
<li><a href=""><i class="bi bi-instagram"></i></a></li>
</ul>

</div>
<!--/#menubar-->

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="bi bi-arrow-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="js/jquery.inview_set.js"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/slick.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

</body>
</html>