
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Sake-Seeker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">

</head>

<body>

<div id="container">



<main>
<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
      <span><%= @item.name_kana %></span>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image, class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= "¥#{@item.price}" %>
      </span>
      <span class="item-postage">
        <%= @item.prefecture %>
      </span>
    </div>


    <div class="item-explain-box">
      <span><%= @item.explain %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">特定名称</th>
          <td class="detail-value"><%= @item.category %></td>
        </tr>
        <tr>
          <th class="detail-item">アルコール度数</th>
          <td class="detail-value"><%= @item.alcohol %></td>
        </tr>
        <tr>
          <th class="detail-item">日本酒度</th>
          <td class="detail-value"><%= @item.sake_level %></td>
        </tr>
        <tr>
          <th class="detail-item">味わい</th>
          <td class="detail-value"><%= @item.teste %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%#= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

</main>


</div>
<!--/#container-->

<!--開閉ブロック-->
<div id="menubar">

<nav>
<h2>Contents</h2>
<ul class="submenu">
<li><%= link_to 'ホーム', root_path ,data: { turbo: false }%></li>
<li><%= link_to '日本酒について', abouts_path ,data: { turbo: false }%></li>
<li><%= link_to '日本酒を探す', items_path ,data: { turbo: false }%></li>
  <% if user_signed_in? %>
<li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "user-nickname",data: { turbo: false }%></li>
<li><%= button_to 'ログアウト', destroy_user_session_path ,method: :delete ,data: { turbo: false }, class: "logout" %></li>
  <% else %>
<li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" ,data: { turbo: false }%></li>
<li><%= link_to 'ログイン', new_user_session_path, class: "login" ,data: { turbo: false }%></li>
  <% end %>
</ul>
</nav>

<ul class="icons">
<li><i class="bi bi-facebook"></i></li>
<li><i class="bi bi-twitter"></i></li>
<li><i class="bi bi-youtube"></i></li>
<li><i class="bi bi-instagram"></i></li>
</ul>

</div>
<!--/#menubar-->

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="bi bi-arrow-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>
</html>